<div class="container" layout="column" layout-align="center center">
	<md-whiteframe class="md-whiteframe-14dp" flex-xs="100" flex-gt-xs="50" layout="column" layout-align="start center">
		<md-toolbar layout layout-align="center center">
			<div flex="5"></div>
			<h2>To-Do List</h2>
			<div flex></div>
			<md-menu md-position-mode="target-right target" md-offset="-10 10">
				<md-button ng-click="vm.openMenu($mdOpenMenu, $event)" class="md-icon-button">
					<md-icon md-menu-origin>more_vert</md-icon>
				</md-button>
				<md-menu-content width="2">
					<md-menu-item>
						<md-button ng-click="vm.showSignIn()">Sign In</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="vm.showSignUp()">Sign Up</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-toolbar>
		<md-toolbar class="md-accent md-hue-1 md-padding" layout="column">
			<md-subheader ng-if="!vm.user._id" class="md-warn">Your todos won't be saved unless you sign in.</md-subheader>
			<form ng-submit="vm.addTodo(newTodo); newTodo = '';" layout="row" flex="5">
				<md-input-container flex>
					<label>Todo</label>
					<input type="text" ng-model="newTodo"/>
				</md-input-container>
				<md-button class="md-raised md-primary" type="submit">Submit</md-button>
			</form>
			<md-radio-group class="md-padding" layout="row" ng-model="q.isDone">
				<div flex="5"></div>
				<md-radio-button ng-value="">All</md-radio-button>
				<md-radio-button ng-value="true">Done</md-radio-button>
				<md-radio-button ng-value="!true">Not Done</md-radio-button>
			</md-radio-group>
		</md-toolbar>
		<md-content layout="column" class="md-padding">
		    <md-list flex>
		    	<md-list-item ng-class="{ complete: todo.isDone }" class="md-1-line" ng-repeat="todo in vm.todos | filter:q track by $index" ng-click="todo.isDone = !todo.isDone; vm.checkTask(todo);">
		    		<md-checkbox ng-model="todo.isDone" ng-change="vm.checkTask(todo)"></md-checkbox>
		    		<p>{{ todo.todo }}</p>
		    		<!-- <md-button class="md-icon-button" ng-disabled="false" ng-click="vm.addAttachment()">
		    			<md-icon>attachment</md-icon>
		    		</md-button> -->
		    	</md-list-item>
		    </md-list>
		</md-content>
	</md-whiteframe>
</div>