<html ng-app="NodeTodo">
	<head>
		<title>Node Todo: Angular Edition</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Angular Material Stylesheet -->
		<link rel="stylesheet" type="text/css" href="/deps/angular-material/angular-material.min.css">

		<!-- Stylesheet -->
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

		<!-- Material Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- AngularJS + packages -->
		<script src="/deps/angular/angular.min.js"></script>
		<script src="/deps/angular-aria/angular-aria.min.js"></script>
		<script src="/deps/angular-animate/angular-animate.min.js"></script>
		<script src="/deps/angular-material/angular-material.min.js"></script>
		<script src="/deps/angular-resource/angular-resource.min.js"></script>
	</head>
	<body ng-controller="MainController as vm">

		<todo-list todos="vm.todos" submit="vm.addTodo(desc)" check="vm.checkTask(todo)" attach="vm.addAttachment()"></todo-list>

		<!-- Load app -->
		<script src="/assets/js/app.js"></script>
		<!-- Load controllers -->
		<script src="/assets/js/controllers.js"></script>
		<!-- Load services -->
		<script src="/assets/js/services.js"></script>
		<!-- Load directives -->
		<script src="/assets/js/directives.js"></script>
	</body>
</html>