body div.container {
	height: 100%;
	background-color: #d9cbb3; 
}

body div.container md-whiteframe {
	width: 500px;
	background-color: #fff; 
}

body div.container md-whiteframe md-content{
	width: 500px;
}

body div.container md-whiteframe md-content{
	background-color: white; 
}

button.md-raised.md-primary.md-button.md-ink-ripple {
	color: rgba(255,255,255,0.87);
}