<div class="container" layout="column" layout-align="center center">
	<md-whiteframe class="md-whiteframe-14dp" flex-xs="100" flex-gt-xs="50" layout="column" layout-align="start center">
		<md-toolbar layout layout-align="center center">
			<div flex="5"></div>
			<h2>To-Do List</h2>
			<div flex></div>
			<!-- <md-button class="md-icon-button">
				<md-icon>more_vert</md-icon>
			</md-button> -->
		</md-toolbar>
		<md-toolbar class="md-accent md-hue-1 md-padding" layout="column">
			<form ng-submit="submit({ desc: newTodo }); newTodo = '';" layout="row" flex="5">
				<md-input-container flex>
					<label>Todo</label>
					<input type="text" ng-model="newTodo"/>
				</md-input-container>
				<md-button class="md-raised md-primary" type="submit">Submit</md-button>
			</form>
			<md-radio-group class="md-padding" layout="row" ng-model="q.isDone">
				<div flex="5"></div>
				<md-radio-button ng-value="">All</md-radio-button>
				<md-radio-button ng-value="true">Done</md-radio-button>
				<md-radio-button ng-value="!true">Not Done</md-radio-button>
			</md-radio-group>
		</md-toolbar>
		<md-content layout="column" class="md-padding">
		    <md-list flex>
		    	<md-list-item ng-class="{ complete: todo.isDone }" class="md-1-line" ng-repeat="todo in todos | filter:q track by $index" ng-click="todo.isDone = !todo.isDone; check({ todo: todo });">
		    		<md-checkbox ng-model="todo.isDone" ng-change="check({ todo: todo })"></md-checkbox>
		    		<p>{{ todo.todo }}</p>
		    		<!-- <md-button class="md-icon-button" ng-disabled="true" ng-click="attach()">
		    			<md-icon>attachment</md-icon>
		    		</md-button> -->
		    	</md-list-item>
		    </md-list>
		</md-content>
	</md-whiteframe>
</div>