<div class="container" layout="column" layout-align="start center">
	<div flex="25"></div>
	<md-whiteframe class="md-whiteframe-14dp" flex="50" layout="column" layout-align="start center">
		<md-toolbar layout layout-align="center center">
			<h2>To-Do List</h2>
		</md-toolbar>
		<md-content>
		    <md-list flex>
		    	<md-list-item class="md-1-line" ng-repeat="todo in todos" ng-click="null">
		    		<md-checkbox ng-model="todo.isDone"></md-checkbox>
		    		<p>{{ todo.todo }}</p>
		    		<md-icon>attachment</md-icon>
		    	</md-list-item>
		    </md-list>
		</md-content>
	</md-whiteframe>
</div>